<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: common-header">
	</head>
	<body>
	    <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="row view-area">
                <div class="col-lg-12">
                    <form role="form" name="studentAddForm" th:object="${student}" th:action="@{/add}" method="post">
                        <div class="row form-group">
                            <div class="col-lg-6">
                               <label for="name" class="sr-only">Tên Sinh Viên</label>
        	                   <input type="text" name="name" id="name" class="form-control" placeholder="Tên" required="required" autofocus="autofocus" />
                            </div>
                            <div class="col-lg-4">
                                <span class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Input Name Error</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                               <label for="group" class="sr-only">Lớp Sinh Viên</label>
                               <input type="text" name="group" id="group" class="form-control" placeholder="Lớp" required="required" />
                            </div>
                            <div class="col-lg-4">
                                <span class="label label-danger" th:if="${#fields.hasErrors('group')}" th:errors="*{group}">Group Name Error</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                               <label for="age" class="sr-only">Tuổi</label>
                               <input type="text" name="age" id="age" class="form-control" placeholder="Tuổi" required="required" />
                            </div>
                             <div class="col-lg-4">
                                <span class="label label-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Value Error</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-10">
                                <button class="btn btn-lg btn-success" type="submit">
                                    Thêm
                                </button>
                                <button class="btn btn-lg btn-warning" type="reset">
                                    Làm Lại
                                </button>
                                <a class="btn btn-lg btn-danger" role="button" th:href="@{/home}">
                                    Huỷ
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	 	<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>